*{
  font-size: 1.2rem;
}
body{
  background-color: rgb(188, 219, 233);
}
.countries-photo{
  max-width: 100%;
  width: 800px;
  height: auto;
  display: block;
  margin: auto;
  margin-top: 3rem;
  border-radius: 10px;
}
form{
  background-color: #1f1f1f;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  margin: auto;
}

/* countriesSingle slide buttons CSS */
.carousel-control-prev, .carousel-control-next {
  top: 50%; 
  transform: translateY(-50%);
}

.carousel-control-prev {
  left: 0;
}

.carousel-control-next {
  right: 0;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1f1f1f;
  color: #fff;
  width: 100%;
  height: 5rem;
}

.container-fluid{
  margin-bottom: 3rem;
}


