*{
  font-size: 1.2rem;
}

.custom-navbar {
  background-color: blue;
  color: white!important;
}
.nav-link{
  color: #fff;
}
.navbar-nav .nav-link.active{
  color: skyblue;
}
.navbar-brand{
  color: #fff;
}
